# Ignorar entorno virtual
.venv

# Ignorar modelos de aprendizaje automático
models

# Ignorar un modelo específico
u2net.pth

#icon ignore
icon_convertido.ico

icono_carpeta.log

desktop.ini

# Ignorar archivos de configuración de IDEs
.idea
*.sublime-project

pycaches
__pycache__